[submodule "src/minigraph"]
	path = src/minigraph
	url = https://github.com/lh3/minigraph
[submodule "src/pbsim3"]
	path = src/pbsim3
	url = https://github.com/yukiteruono/pbsim3
[submodule "src/minimap2"]
	path = src/minimap2
	url = https://github.com/lh3/minimap2
